<!DOCTYPE html>
<html lang="en">
<body>
    <section class="slide-wrapper">
        <div class="container">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播按钮 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                 </ol>

                <!-- 轮播内容 -->
                <div class="carousel-inner">
                    <div class="item item1 active">
                        <div class="fill" style=" background-color:#48c3af;">
                            <div class="inner-content">
                                <div class="carousel-img">
                                    <img src="http://oq3mpwc6v.bkt.clouddn.com/wine-881536_1280.jpg" alt="sofa" class="img img-responsive" />
                                </div>
                                <div class="carousel-desc">

                                    <h2>Welcome To Noble Winery</h2>
                                    <p>Mellow wine, elegant life. Mellow mellow, drops of passion. Supreme red wine, in harmony with the heart and soul. From France noble winery, famous teacher brewing, distinguished symbol. Taste pure french.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item2">
                        <div class="fill" style="background-color:#58FAF4;">
                            <div class="inner-content">
                                <div class="carousel-img">
                                    <img src="http://oq3mpwc6v.bkt.clouddn.com/two-types-of-wine-1761613_1280.jpg" alt="white-sofa" class="img img-responsive" />
                                </div>
                                <div class="carousel-desc">

                                    <h2>Noble Choice French Brew</h2>
                                    <p>Heritage French romance, cross century taste. Drops of alcohol, infinite aftertaste. French wine alcohol, a cup of fragrant forever. Served with French sauce and brewed with Oriental elegance. </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item3">
                        <div class="fill" style="background-color:#7fc2f4;">
                            <div class="inner-content">
                                <div class="col-md-6">

                                    <div class="carousel-img">
                                        <img src="http://oq3mpwc6v.bkt.clouddn.com/girl-1064664_1280.jpg" alt="sofa" class="img img-responsive" />
                                    </div>
                                </div>

                                <div class="col-md-6 text-left">
                                    <div class="carousel-desc">

                                        <h2>Elegant Taste Brops Of Alcohol</h2>
                                        <p>From planting to brewing, adhere to the traditional flavor. Romantic France, to a good life. Deep love, love my heart. Taste mellow red brew, always have a romantic. Taste romance and feel mellow.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item3">
                        <div class="fill" style="background-color:#7fc2f4;">
                            <div class="inner-content">
                                <div class="col-md-6">

                                    <div class="carousel-img">
                                        <img src="http://oq3mpwc6v.bkt.clouddn.com/%E8%83%8C%E6%99%AF%E5%9B%BE2.jpg" alt="sofa" class="img img-responsive" />
                                    </div>
                                </div>

                                <div class="col-md-6 text-right">
                                    <div class="carousel-desc">

                                        <h2>Charming Aroma Taste Into The Heart</h2>
                                        <p>Feel romantic and elegant, taste noble and luxurious. Gift breeds quality, essence, brew classics. Wine, extraordinary, heart, romance, heart moment, love note life.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
<!--小图轮播-->
<div class="partner">
				<ul id="flexiselDemo3">
				   <li><img src="http://oq3mpwc6v.bkt.clouddn.com/uploads/product/image/1/medium_%E5%86%B0%E9%85%922.jpg" class="img-responsive" alt=""/></li>
				   <li><img src="http://oq3mpwc6v.bkt.clouddn.com/%E4%BA%BA%E9%A9%AC%E5%A4%B4xo.jpg" class="img-responsive" alt=""/></li>
				   <li><img src="http://oq3mpwc6v.bkt.clouddn.com/uploads/product/image/2/medium_%E7%BA%A2%E8%91%A1%E8%90%84%E9%85%921.jpg" class="img-responsive" alt=""/></li>
				   <li><img src="http://oq3mpwc6v.bkt.clouddn.com/%E6%8B%89%E8%8F%B21.jpg" class="img-responsive" alt=""/></li>
				   <li><img src="http://oq3mpwc6v.bkt.clouddn.com/xo2.jpg" class="img-responsive" alt=""/></li>
           <li><img src="http://oq3mpwc6v.bkt.clouddn.com/%E5%B9%B2%E7%99%BD1.jpg" class="img-responsive" alt=""/></li>
           <li><img src="http://oq3mpwc6v.bkt.clouddn.com/%E9%A9%AC%E7%88%B9%E5%88%A92.jpg" class="img-responsive" alt=""/></li>
				</ul>
				<script type="text/javascript">
					$(window).load(function() {
						$("#flexiselDemo3").flexisel({
							visibleItems: 5,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
					    	responsiveBreakpoints: {
					    		portrait: {
					    			changePoint:480,
					    			visibleItems: 1
					    		},
					    		landscape: {
					    			changePoint:640,
					    			visibleItems: 2
					    		},
					    		tablet: {
					    			changePoint:768,
					    			visibleItems: 3
					    		}
					    	}
					    });

					});
			 </script>
	         <script type="text/javascript" src="app/assets.application.js"></script>
		</div>
    <!--gallery-->
<div class="gallery">
		<div class="container">
			<div class="gallery-grids">
				<div class="col-md-6 gallery-grid glry-one">
					<a href="products/1"><img src="http://oq3mpwc6v.bkt.clouddn.com/%E5%A5%94%E5%AF%8C1.jpg" class="img-responsive" alt=""/>
						<div class="gallery-info">
							<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							<a class="shop" rel="nofollow" data-method="post" href="/products/1/add_to_cart">加入购物车</a>
							<div class="clearfix"> </div>
						</div>
					</a>
					<div class="galy-info">
						<p>奔富407干红葡萄酒 澳洲BIN407 原瓶进口红酒 2014年木塞整箱 750ml*6</p>
						<div class="galry">
							<div class="prices">
								<h5><a class="item_add" href="#"><i></i></a> <span class=" item_price">¥2999</span></h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-6 gallery-grid glry-two">
					<a href="products/2"><img src="http://oq3mpwc6v.bkt.clouddn.com/%E6%BE%B3%E6%B4%B21.jpg" class="img-responsive" alt=""/>
						<div class="gallery-info galrr-info-two">
							<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							<a class="shop" rel="nofollow" data-method="post" href="/products/2/add_to_cart">加入购物车</a>
							<div class="clearfix"> </div>
						</div>
					</a>
					<div class="galy-info">
						<p>奔富洛神山庄 干红葡萄酒750ml*6瓶装 澳州原瓶进口红酒整箱 奔富系列</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">¥229.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-2 gallery-grid ">
					<a href="products/3"><img src="http://oq3mpwc6v.bkt.clouddn.com/%E9%85%92%E4%BB%99%E7%BD%911.png" class="img-responsive" alt=""/>
						<div class="gallery-info">
							<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							<a class="shop" rel="nofollow" data-method="post" href="/products/3/add_to_cart">加入购物车</a>
							<div class="clearfix"> </div>
						</div>
					</a>
					<div class="galy-info">
						<p>酒仙网 澳大利亚原瓶原装进口红酒 黄尾袋鼠西拉红葡萄酒（6瓶装）</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">¥269.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-2 gallery-grid ">
					<a href="products/4"><img src="http://oq3mpwc6v.bkt.clouddn.com/%E6%8B%89%E8%8F%B26.jpg" class="img-responsive" alt=""/>
						<div class="gallery-info">
							<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							<a class="shop" rel="nofollow" data-method="post" href="/products/4/add_to_cart">加入购物车</a>
							<div class="clearfix"> </div>
						</div>
					</a>
					<div class="galy-info">
						<p>法国原瓶进口红酒 路易拉菲干红葡萄酒整箱六支装750ml*6</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">¥299.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-2 gallery-grid ">
					<a href="products/5"><img src="http://oq3mpwc6v.bkt.clouddn.com/%E8%8C%85%E5%8F%B02.jpg" class="img-responsive" alt=""/>
						<div class="gallery-info">
							<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							<a class="shop" rel="nofollow" data-method="post" href="/products/5/add_to_cart">加入购物车</a>
							<div class="clearfix"> </div>
						</div>
					</a>
					<div class="galy-info">
						<p>陈年老酒 贵州茅台酒（大木漆珍品）2012年 53度 500ml*4瓶整箱 盛世陈香</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">¥11399.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-2 gallery-grid ">
					<a href="products/6"><img src="http://oq3mpwc6v.bkt.clouddn.com/%E4%BA%94%E7%B2%AE%E6%B6%B21.jpg" class="img-responsive" alt=""/>
						<div class="gallery-info">
							<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							<a class="shop" rel="nofollow" data-method="post" href="/products/6/add_to_cart">加入购物车</a>
							<div class="clearfix"> </div>
						</div>
					</a>
					<div class="galy-info">
						<p>华致酒行 50°五粮液陈酿年份酒10年消费装（2016版）500ml</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">¥9999.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-2 gallery-grid ">
					<a href="products/8"><img src="http://oq3mpwc6v.bkt.clouddn.com/%E4%BA%94%E7%B2%AE%E6%B6%B22.jpg" class="img-responsive" alt=""/>
						<div class="gallery-info">
							<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							<a class="shop" rel="nofollow" data-method="post" href="/products/8/add_to_cart">加入购物车</a>
							<div class="clearfix"> </div>
						</div>
					</a>
					<div class="galy-info">
						<p>陈年老酒 五粮液酒 原瓶老酒 约22年酒龄 1995年52度浓香型500ML</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">¥2350.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-2 gallery-grid ">
					<a href="products/9"><img src="http://oq3mpwc6v.bkt.clouddn.com/%E5%AE%9D%E6%A0%91%E8%A1%8C1.jpg" class="img-responsive" alt=""/>
						<div class="gallery-info">
							<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							<a class="shop" rel="nofollow" data-method="post" href="/products/9/add_to_cart">加入购物车</a>
							<div class="clearfix"> </div>
						</div>
					</a>
					<div class="galy-info">
						<p>宝树行 轩尼诗XO700mL 整箱六支装 干邑白兰地法国原装进口洋酒0.7L</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">¥7620.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid ">
					<a href="products/10"><img src="http://oq3mpwc6v.bkt.clouddn.com/xo3.jpg" class="img-responsive" alt=""/>
						<div class="gallery-info">
							<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							<a class="shop" rel="nofollow" data-method="post" href="/products/10/add_to_cart">加入购物车</a>
							<div class="clearfix"> </div>
						</div>
					</a>
					<div class="galy-info">
						<p>轩尼诗（Hennessy）XO 干邑白兰地 40度法国进口洋酒 700ml整箱6瓶装</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">¥8288.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid ">
					<a href="products/11"><img src="http://oq3mpwc6v.bkt.clouddn.com/%E5%AE%9D%E6%A0%91%E8%A1%8C2.jpg" class="img-responsive" alt=""/>
						<div class="gallery-info">
							<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							<a class="shop" rel="nofollow" data-method="post" href="/products/11/add_to_cart">加入购物车</a>
							<div class="clearfix"> </div>
						</div>
					</a>
					<div class="galy-info">
						<p>宝树行 人头马路易十三700mL Remy Martin LouisXIII干邑白兰地洋酒</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">¥17800.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
        <div class="col-md-3 gallery-grid ">
					<a href="products/12"><img src="http://oq3mpwc6v.bkt.clouddn.com/%E7%BA%A2%E8%91%A1%E8%90%843.jpg" class="img-responsive" alt=""/>
						<div class="gallery-info">
							<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							<a class="shop" rel="nofollow" data-method="post" href="/products/12/add_to_cart">加入购物车</a>
							<div class="clearfix"> </div>
						</div>
					</a>
					<div class="galy-info">
						<p>法国原瓶进口红酒 波尔多AOC级圣马丁王子干红葡萄酒玛嘉唯诺750ml 13%vol重瓶型六支装+酒具套装</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">¥208.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
        <div class="col-md-3 gallery-grid ">
					<a href="products/12"><img src="http://oq3mpwc6v.bkt.clouddn.com/%E4%BA%8C%E9%94%85%E5%A4%B41.jpg" class="img-responsive" alt=""/>
						<div class="gallery-info">
							<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							<a class="shop" rel="nofollow" data-method="post" href="/products/12/add_to_cart">加入购物车</a>
							<div class="clearfix"> </div>
						</div>
					</a>
					<div class="galy-info">
						<p>牛栏山 经典 52度 500ml*6瓶 整箱装</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">¥2199.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//gallery-->
  <!--start-team-->
  		<div class="team" id="team">
  	      <div class="container">
  			<div class="main">
  				<ul class="ch-grid">
  					<li>
  						<div class="ch-item">
  							<div class="ch-info">
  								<h3>品天下名酒</h3>
  								<p>国酒茅台 玉液之冠<a href="#">金奖茅台酒 诚交天下友</a></p>
  							</div>
  							<div class="ch-thumb ch-img-1"></div>
  						</div>
  					</li>
  					<li>
  						<div class="ch-item">
  							<div class="ch-info">
  								<h3>品天下名酒</h3>
  								<p>天下三千年，五粮成玉液<a href="#">清香醇纯，回味无穷</a></p>
  							</div>
  							<div class="ch-thumb ch-img-2"></div>
  						</div>
  					</li>
  					<li>
  						<div class="ch-item">
  							<div class="ch-info">
  								<h3>品天下名酒</h3>
  								<p>法国尊享，定位全球<a href="#">传承法国，保真佳酿</a></p>
  							</div>
  							<div class="ch-thumb ch-img-3"></div>
  						</div>
  					</li>
  				</ul>
  			</div>
  		</div>
         </div>
  	<!--//team-->

</html>
